
.container_12
  .grid_12

    %h1= @petition.title

    %p
      %em= "Created by #{@petition.creator}"

%iframe{ :src => @petition.embed("foo@bar.qux") }

.container_12.show
  .grid_12

    %h2 Signers

    %ul
      - @petition.signers.each do |signer|
        %li= signer.name